
div
    event-datatable(title='Eventos Hoje', events='todayEventList')
    event-datatable(title='Eventos Futuros', events='nextEventList')
    event-datatable(title='Eventos Passados', events='pastEventList')

    a.btn.btn-primary(href='#/event-form') Adicionar Evento
