extends layout

block content
    h1= title
    p Bem Vindo ao Event Counter

    // Wrapper
    #wrapper

        // CURRENT EVENT LIST
        h2 Eventos Hoje
        #userList
            table
                thead
                    th Nome do Evento
                    th Local
                    th Data
                    th Hora
                    th Quantidade de Pessoas
                tbody
        // /CURRENT EVENT LIST

    // /WRAPPER

    // Wrapper
    #wrapper

        // NEXT EVENT LIST
        h2 Eventos Futuros
        #userList
            table
                thead
                    th Nome do Evento
                    th Local
                    th Data
                    th Hora
                tbody
        // /NEXT EVENT LIST

    // /WRAPPER


    // Wrapper
    #wrapper

        // PAST EVENT LIST
        h2 Eventos Passados
        #userList
            table
                thead
                    th Nome do Evento
                    th Local
                    th Data
                    th Hora
                    th Quantidade de Pessoas
                tbody
        // /PAST EVENT LIST

    // /WRAPPER