doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app="eventCounter")
    block content
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/global.js')
