
h2 {{ title }}
table.table.table-striped.table-hover
    thead
        th Nome do Evento
        th Local
        th Data
        th Hora
        th Quantidade de Pessoas
    tbody
    tr(ng-repeat="event in events")
        td
            a(ng-href="#/event/{{event._id}}") {{event.name}}
        td {{event.location}}
        td {{event.startDate | date:'dd/MM/yyyy'}}
        td {{event.startTime}}
        td {{event.counter}}
